#menu{ height:50px;  width:100%; background-color:red; display:block;}

.bmenu{height:100%;  width:30%; font-size:20px;}

#dmenu{
float:left; height,100px; width:18%; background-color:deeppink;
display:inline-block;  
display:none; 
margin-top:5%;
margin-left:0.2%;
position:absolute;
opacit:0.9;

}

input[type="button"]
{font-size:18px; margin:2px;
height:30%;  width:97%;
}

#ctcd{
float:left; height:140px; width:18%; background-color:aqua;
display:inline-block;  
display:none; 
margin-top:8%;
margin-left:0.2%;
position:absolute;
opacit:0.8; background-color:white;}

.color{ height:30px; width:30px;}

#cb1{background-color:orange; border-color:orange;}

#cb2{background-color:red; border-color:red;}

#cb3{background-color:green; border-color:green;}

#cb4{background-color:deeppink; border-color:deeppink;}

#cb5{background-color:blue; border-color:blue;}

#cb6{background-color:lime; border-color:lime;}

#cb7{background-color:aqua; border-color:aqua;}

#cb8{background-color:coral; border-color:coral;}

#cb9{background-color:purple; border-color:purple;}

#cb10{background-color:maroon; border-color:maroon;}

#cb11{background-color:teal; border-color:teal;}

#cb12{background-color:crimson; border-color:crimson;}

#cfsd{
float:left; height:95px; width:18%; 
display:inline-block;  
display:none; 
margin-top:11%;
margin-left:0.2%;
position:absolute;
opacit:0.8;
 background-color:deeppink;
}


.bs{height:25px; width:55px; font-size:15px; padding:6px;}

